#myCarousel.carousel.slide(data-ride="carousel")
    ol.carousel-indicators
        li.active(data-target="#myCarousel", data-slide-to="0")
        if !currentUser
            li(data-target="#myCarousel", data-slide-to="1")
        if blogpost
            li(data-target="#myCarousel", data-slide-to="2")
    .carousel-inner(role="listbox")
        .item.active
            img(src="images/carousel_services.png")
            .container
                .carousel-caption
                    h1  Browse our services
                    p   Take a look at excellent services we provide
                    p:  a.btn.btn-lg.btn-primary(href="/services" role="button") Explore
        if !currentUser
            .item
                img(src="images/carousel-login.jpg")
                .container
                    .carousel-caption
                        h1  Join today
                        p   You need to be logged in to make comments
                        p
                            a.btn.btn-lg.btn-primary(href="/signup" role="button")    Sign up
                            a.btn.btn-lg.btn-primary(href="/login" role="button" style="margin-left: 10px")    Login
        .item
            img(src="images/carousel_blogposts.png")
            .container
                .carousel-caption
                    h1  Blog
                    p   Check out latest news from our authors
                    p:  a.btn.btn-lg.btn-primary(href="/blogposts/#{blogpost._id}" role="button") Read blog
    a.left.carousel-control(href="#myCarousel" role="button" data-slide="prev")
        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
        span.sr-only    Previous
    a.right.carousel-control(href="#myCarousel" role="button" data-slide="next")
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        span.sr-only    Next
