.row
    .col-md-12
        p.text-center   Login via
        .social-buttons
            a.btn.btn-fb(href="#")
                i.fa.fa-facebook
                    span Facebook
            a.btn.btn-tw(href="#")
                i.fa.fa-twitter
                span    Twitter
        p.text-center   or via username
        a.btn.btn-primary.btn-block(href="/login") Log in
    .bottom.text-center
        span    New here ?
            a(href="/signup")
                b   Join us
