extends layout

block content
    .jumbotron
        .container
            .row
                h1(style="text-align: center")  About
                div(style="width: 30%;margin: 25px auto;")
                    a(href="/")  Go Back
